.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3% 2% 3% 4%;
  align-self: center;
}

.span {
  flex-grow: 1;
}

.search {
  opacity: 1;
  transition: 0.4s;
  height: 45px;
  align-self: center;
  width: 80%;
  margin-right: 20px;
  border-radius: 20px;
  margin-left: 3%;
}

.icon {
  align-self: center;
  justify-self: center;
  margin: 1%;
}

.icon:hover {
  cursor: pointer;
}

.search::-webkit-input-placeholder {
  color: #8493a8;
  font-size: 16px;
  /* padding-left: 15px; */
  font-family: "Roboto Flex", sans-serif;
}

.search {
  padding-left: 15px;
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
}
