.box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5%;
    border: 1px solid grey;
    border-radius: 10px;
    justify-content: stretch;
}

.post{
    display: flex;
    position: relative;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    padding: 10px;
}

.searchbar{
    height: 20px;
    align-self: stretch;
    width:100%;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 3%;
    padding: 10px;
}

.submitButton{
    background-image: "https://i.ibb.co/hKyfFrs/botao.png";
    border-radius: 50%;

}