
.box{
    position: fixed;
    width: 95%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 2%;
    justify-content: stretch;
    overflow: hidden;
}

.post{
    width: 100%;
    height: 100%;
    display: flex;
    justify-self: stretch;
    align-self: center;
    border-radius: 10px;

}

.text{
    resize: none;
    height: 50px;
    align-self: stretch;
    width:100%;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.submitButton{
    align-self: bottom;
    border-radius: 50%;
    background-color: black;
    border-width: 0px;

}

.footer{
    align-self: center;
}
