body {
  background-color: #0496f1;
  display: flex;
  margin: 0;
  box-sizing: border-box;
}
/* #login {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(4, 150, 241);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid grey;
  row-gap: 10px;
  border-top: 50%;
}
input {
  margin-bottom: 7px;
}
button {
  margin-right: 3px;
} */
