.main {
  flex-direction: row;
  justify-self: center;
  align-self: center;
  width: 98vw;
  align-items: center;
  background-color: black;
  overflow: hidden;
}

.fixed {
  /* position: fixed; */
  /* width: 98vw; */
  bottom: 0;
  display: flex;
  flex-direction: column;
  /* padding: 2%; */
  justify-content: stretch;
  /* overflow: hidden; */
  /* background-color: green; */
  margin-left: 1%;
}
