.frame{
    padding: 10px;
    margin:3%;
    height: 65vh;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

.comment{
 
    margin-bottom: 1%;
}

.frame::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.h1{
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
}

.like{
    border-radius: 50%;
    border: 0px solid black;
}
